<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container mt-4 vj-destacados" id="div1">
    <div class="row">
        <div class="col col-md-12 text-left mb-4" sec:authorize="isAuthenticated()">
            <div>
                <a class="font-weight-bold" sec:authorize="isAuthenticated()">Bienvenido: <span id="name" sec:authentication="name"></span></a>
                <img src="https://i.pinimg.com/originals/fb/16/4c/fb164c25c9c83206fef9028a91ebfeb9.gif" width="45" height="45" class="d-inline-block align-top rounded-circle" alt="" loading="lazy">
                <p class="owner-subtext"><a th:href="@{/logout}">Cerrar Sesión</a></p>
            </div>
            <div class="btn-group" style="width:100%" th:if="${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/menu}" class="btn btn-outline-danger">Volver atrás</a>
                <a th:href="${menuPersonalView} + '/' + ${#authentication.name}" class="btn btn-info">Mis preferencias</a>
            </div>
        </div>
    </div>

    <div class="container mt-4 vj-destacados">
        <div th:if="${param.success}" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Exito! </strong>Preferencia guardada <a th:href="'/menuPersonalView'">Mis preferencias</a><a href="/menu">  /  Menú General</a>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row">
            <div class="col-md-12  mb-4">
                <form th:action="@{/menuPersonalSave}" method="POST">
                    <div class="card">
                        <img src="https://img.freepik.com/foto-gratis/mesa-vista-superior-llena-deliciosa-composicion-alimentos_23-2149141352.jpg" class="card-img-top" alt="...">
                        <div class="card-body">

                            <div class="form-group">
                                <label class="form-label">Username</label>
                                <input class="form-control" type="text" id="usernameClient" name="username">
                            </div>

                            <div class="form-group">
                                <label class="form-label">Tipo de Menu</label>
                                <select class="form-control" name="id_menu_type" required>
                                    <option value="">Seleccione...</option>
                                    <option th:each="menuTypeList : ${menuTypeList}" th:value="${menuTypeList.id}" th:text="${menuTypeList.name}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Nombre del plato</label>
                                <input class="form-control" type="text" name="mp_name_dish">
                            </div>

                            <div class="form-group">
                                <label class="form-label">Opciones incluidas</label>
                                <select class="form-control" name="mp_options" required>
                                    <option value="">Seleccione...</option>
                                    <option th:each="menuPersonalFormOptions : ${menuPersonalFormOptions}" th:value="${menuPersonalFormOptions.id}" th:text="${menuPersonalFormOptions.name}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Principios</label>
                                <select  class="form-control" name="mp_principles" required>
                                    <option value="">Seleccione...</option>
                                    <option th:each="menuPersonalFormPrinciples : ${menuPersonalFormPrinciples}" th:value="${menuPersonalFormPrinciples.id}" th:text="${menuPersonalFormPrinciples.name}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Proteinas</label>
                                <select class="form-control" name="mp_proteins" required>
                                    <option value="">Seleccione...</option>
                                    <option th:each="menuPersonalFormProteins : ${menuPersonalFormProteins}" th:value="${menuPersonalFormProteins.id}" th:text="${menuPersonalFormProteins.name}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Entradas</label>
                                <select class="form-control" name="mp_entries" required>
                                    <option value="">Seleccione...</option>
                                    <option th:each="menuPersonalFormEntries : ${menuPersonalFormEntries}" th:value="${menuPersonalFormEntries.id}" th:text="${menuPersonalFormEntries.name}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Vegetales</label>
                                <select class="form-control" name="mp_vegetables" required>
                                    <option value="">Seleccione...</option>
                                    <option th:each="menuPersonalFormVegetables : ${menuPersonalFormVegetables}" th:value="${menuPersonalFormVegetables.id}" th:text="${menuPersonalFormVegetables.name}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Ensalada</label>
                                <select class="form-control" name="mp_salad" required>
                                    <option value="">Seleccione...</option>
                                    <option th:each="menuPersonalFormSalad : ${menuPersonalFormSalad}" th:value="${menuPersonalFormSalad.id}" th:text="${menuPersonalFormSalad.name}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Bebida</label>
                                <select class="form-control" name="mp_drinks" required>
                                    <option value="">Seleccione...</option>
                                    <option th:each="menuPersonalFormDrinks : ${menuPersonalFormDrinks}" th:value="${menuPersonalFormDrinks.id}" th:text="${menuPersonalFormDrinks.name}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Obervaciones</label>
                                <textarea class="form-control" type="text" name="mp_observations"></textarea>
                            </div>


                        </div>

                        <div class="card-footer text-muted">
                            <button type="submit" class="btn btn-success float-right">Guardar</button>
                            <a th:href="@{/orders?table=0}" th:text="Regresar" class="btn btn-warning"></a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
  $(document).ready(function () {

    asignUser();

    function asignUser() {
        var username = document.getElementById("name").innerHTML;
        document.getElementById("usernameClient").value = username;
        document.getElementById("usernameClientView").innerHtml = username;
    }
});
</script>


</html>