<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="icon" th:href="@{images/icons/favicon.ico}"/>
	<link rel="stylesheet" th:href="@{/css/util.css}" >
	<link rel="stylesheet" th:href="@{/css/style.css}" >
	<link rel="stylesheet" th:href="@{/css/main.css}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form th:action="@{/registration}" method="post" class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						<h2 class="text-center">Ingresa tus datos y registrate</h2>
					</span>

					<input class="form-control" id="role" name="role" type="hidden" value="client"/>
					<input class="form-control" id="enabled" name="enabled" type="hidden" value="true"/>
					<input class="form-control" id="username" name="username" type="hidden" value="email_user"/>

					<div th:if="${param.success}">
						<div class="alert alert-info">
							Te has registrado exitosamente !!!
							<br>
							<a th:href="@{/login}"><span>Inicia sesión</span></a>
						</div>
					</div>

					<div th:if="${param.emailExist}">
						<div class="alert alert-danger">
							El email ya se encuentra registrado !!!
							<br>
							<a th:href="@{/login}"><span>Inicia sesión</span></a>
						</div>
					</div>
					
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" id="name" name="name" required>
						<span class="focus-input100"></span>
						<span class="label-input100">Nombre</span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" id="lastname" name="lastname" required>
						<span class="focus-input100"></span>
						<span class="label-input100">Apellidos</span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="email" id="email" name="email" required>
						<span class="focus-input100"></span>
						<span class="label-input100">E-mail</span>
					</div>
					
					<div class="wrap-input100 validate-input" >
						<input class="input100" type="password" name="password" required>
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<div class="container-login100-form-btn">
						<input class="login100-form-btn" type="submit" value="Registarse">
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							 <a th:href="@{/login}"><span>¡Ya soy Cliente!</span></a>
						</span>
					</div>

				</form>

				<div class="login100-more" style="background-image: url('images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>

</body>
</html>