<html lang="en" xmlns:th="http://www.thymeleaf.org">

<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container mt-4 vj-destacados">
    <div th:if="${success} == 'ok'" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Exito!</strong> Pedido ordenado exitosamente... <a th:href="@{/menu}"> Agregar + </a> / <a th:href="@{/orders?table=} + ${table}">Confirmar Orden</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row">
        <div class="col-md-12  mb-4">
            <form th:action="@{/saveOrder}" method="POST">
            <div class="card">
                <!--<img src="" class="card-img-top" alt="...">-->
                <div class="card-footer">
                    <h4 th:text="'Resumen del plato: ' + ${menu_name}" class="card-title"></h4>
                    <input type="hidden" th:value="${menu_id}" name="id">
                    <input type="hidden" th:value="${id_menu_type}" name="id_menu_type">
                    <input type="hidden" th:value="${name_dish}" name="name_dish">
                    <input type="hidden" th:value="${options}" name="options">
                    <input type="hidden" th:value="${principles}" name="principles">
                    <input type="hidden" th:value="${proteins}" name="proteins">
                    <input type="hidden" th:value="${entries}" name="entries">
                    <input type="hidden" th:value="${vegetables}" name="vegetables">
                    <input type="hidden" th:value="${salad}" name="salad">
                    <input type="hidden" th:value="${drinks}" name="drinks">
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <label class="form-label">Opciones</label>
                        <input class="form-control" type="text" th:value="${optionsName}" readonly>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Principios</label>
                        <input class="form-control" type="text" th:value="${principles}" readonly>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Proteinas</label>
                        <input class="form-control" type="text" th:value="${proteins}" readonly>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Entrada</label>
                        <input class="form-control" type="text" th:value="${entries}" readonly>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Vegatales</label>
                        <input class="form-control" type="text" th:value="${vegetables}"  readonly>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Ensalada</label>
                        <input class="form-control" type="text" th:value="${salad}"  readonly>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Bebida</label>
                        <input class="form-control" type="text" th:value="${drinks}" readonly>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Mesa</label>
                        <select class="form-control" name="tableNumber" required>
                            <option value="">Seleccione...</option>
                            <option value="100">DOMICILIOS</option>
                            <option th:each="listRestaurantTable : ${listRestaurantTable}" th:text="'Mesa - ' + ${listRestaurantTable.tableNumber}" th:value="${listRestaurantTable.tableNumber}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Cantidad</label>
                        <input class="form-control" type="number" name="cant" value="1" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Observaciones (Opcional)</label>
                        <textarea class="form-control" name="observations" th:text="${observations}" placeholder="Use estas observaciones para complementar el pedido..."></textarea>
                    </div>
                </div>

                <div class="card-footer text-muted" th:if="${#authorization.expression('isAuthenticated()')}">
                    <button type="submit" class="btn btn-success float-right">Ordenar</button>
                    <a th:href="@{/menuPersonalView} + '/' + ${#authentication.name}" th:text="Regresar" class="btn btn-warning"></a>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>