<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="includes/sidebar :: sidebar"></nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Inventario general de Productos</h4>
                  <p class="card-description">
                    <a th:href="@{/createInventory}">Crear Nuevo registro</a>
                  </p>

                  <div th:if="${param.success}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Exito! </strong>Registro creado correctamente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div th:if="${param.edit}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Exito! </strong>Registro editado correctamente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div th:if="${param.delete}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Eliminado! </strong>Registro eliminado correctamente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>N° Referencia</th>
                          <th>Nombre</th>
                          <th>Tipo</th>
                          <th>Estado</th>
                          <th>U. Medida</th>
                          <th>Precio Und.</th>
                          <th>Precio Venta</th>
                          <th>Cant. Disp.</th>
                          <th>Cant. Orden</th>
                          <th>Cant. Min.</th>
                          <th>Total</th>
                          <th>Fecha</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="inventoryList, iter : ${inventoryList}">
                          <td th:text="${iter.index + 1}"></td>
                          <td th:text="${inventoryList.numberProduct}"></td>
                          <td th:text="${inventoryList.name}"></td>
                          <td th:text="${inventoryList.type}"></td>
                          <td th:if="${inventoryList.status == '1'}"><label class="badge badge-success">Activo</label></td>
                          <td th:if="${inventoryList.status == '0'}"><label class="badge badge-danger">Inactivo</label></td>
                          <td th:text="${inventoryList.measureUnit}"></td>
                          <td th:text="'$' + ${#numbers.formatDecimal(inventoryList.priceUnit, 0, 'COMMA', 0, 'POINT')}"></td>
                          <td th:text="'$' + ${#numbers.formatDecimal(inventoryList.salePrice, 0, 'COMMA', 0, 'POINT')}"></td>
                          <td th:text="${inventoryList.cantDisp}"></td>
                          <td th:text="${inventoryList.cantOrder}"></td>
                          <td th:text="${inventoryList.CantMinInv}"></td>
                          <td th:text="'$' + ${#numbers.formatDecimal(inventoryList.totalInventory, 0, 'COMMA', 0, 'POINT')}"></td>
                          <td th:text="${inventoryList.date}"></td> <!--TODO: Validar -->
                          <td>
                            <a th:href="@{/editInventory(id=${inventoryList.id})}">Editar</a>
                            |
                            <a th:href="@{/deleteInventory(id=${inventoryList.id})}">Eliminar</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<footer th:insert="includes/footer :: footer"></footer>
