<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="includes/sidebar :: sidebar"></nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">

                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tipos de Producto Inventario</h4>
                                <p class="card-description">
                                    <a th:href="@{/createTypesProduct}">Crear Nuevo registro</a>
                                </p>

                                <div th:if="${param.success}" class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>Exito! </strong>Tipo de producto inventario creado correctamente
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div th:if="${param.edit}" class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>Exito! </strong>Tipo de producto inventario editado correctamente
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div th:if="${param.delete}" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Eliminado! </strong>Tipo de producto inventario eliminado correctamente
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tipo de Producto Inventario</th>
                                            <th>Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="warehouseTypeProducts, iter: ${warehouseTypeProducts}">
                                            <td th:text="${iter.index + 1}"></td>
                                            <td th:text="${warehouseTypeProducts.type}"></td>
                                            <td>
                                                <a th:href="@{/editTypesProduct(id=${warehouseTypeProducts.id})}">Editar</a>
                                                |
                                                <a th:href="@{/deleteTypesProduct(id=${warehouseTypeProducts.id})}">Eliminar</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Unidades de Medida</h4>
                                <p class="card-description">
                                    <a th:href="@{/createMeasureUnits}">Crear Nuevo registro</a>
                                </p>


                                <div th:if="${param.successUnits}" class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>Exito! </strong>Unidad de Medida creada correctamente
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div th:if="${param.editUnits}" class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong>Exito! </strong>Unidad de Medida editada correctamente
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div th:if="${param.deleteUnits}" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Eliminado! </strong>Unidad de Medida eliminada correctamente
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>


                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nomenclatura</th>
                                            <th>Descripción</th>
                                            <th>Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="measureUnits, iter: ${measureUnits}">
                                            <td th:text="${iter.index + 1}"></td>
                                            <td th:text="${measureUnits.type}"></td>
                                            <td th:text="${measureUnits.description}" ></td>
                                            <td>
                                                <a th:href="@{/editMeasureUnits(id=${measureUnits.id})}">Editar</a>
                                                |
                                                <a th:href="@{/deleteMeasureUnits(id=${measureUnits.id})}">Eliminar</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<footer th:insert="includes/footer :: footer"></footer>