<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="es">

<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="includes/sidebar :: sidebar"></nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Listado de platos Menú</h4>
                  <p class="card-description">
                    <a th:href="@{/createMenu}">Crear Nuevo registro</a>
                  </p>
                  <div th:if="${param.success}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Exito! </strong>Menú guardado correctamente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Imagen</th>
                          <th>Nombre Plato</th>
                          <th>Descripción</th>
                          <th>Tipo de Menu</th>
                          <th>Precio</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="menuList : ${menuList}">
                          <td class="py-1"><img th:src="${menuList.image}" alt="image"/></td>
                          <td th:text="${menuList.name}"></td>
                          <td th:text="${menuList.description}"></td>
                          <td th:text="${menuList.menuType}"></td>
                          <td th:text="'$' + ${#numbers.formatDecimal(menuList.price, 0, 'COMMA', 0, 'POINT')}"></td>
                          <td>
                            <a th:href="@{/editMenu(id=${menuList.id})}">Editar</a>
                            |
                            <a href="">Eliminar</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
<footer th:insert="includes/footer :: footer"></footer>
