<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="includes/sidebar :: sidebar"></nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Opciones del Menú</h4>
                  <p class="card-description">
                    <a th:href="@{/createMenuOptional}">Crear Nuevo registro</a>
                  </p>

                  <div th:if="${param.success}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Exito! </strong>Opción de menu creado correctamente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div th:if="${param.edit}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Exito! </strong>Opción de menu editado correctamente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div th:if="${param.delete}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Eliminado! </strong>Opción de menu eliminado correctamente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Tipo de Menú</th>
                          <th>Menú</th>
                          <th>Caldo</th>
                          <th>Huevos</th>
                          <th>Bebida</th>
                          <th>Complemento</th>
                          <th>Otros</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="menuOptionals, iter : ${menuOptionals}">
                          <td th:text="${iter.index + 1}"></td>
                          <td th:text="${menuOptionals.menuType}"></td>
                          <td th:text="${menuOptionals.menu}"></td>
                          <td th:text="${menuOptionals.option1}"></td>
                          <td th:text="${menuOptionals.option2}"></td>
                          <td th:text="${menuOptionals.option3}"></td>
                          <td th:text="${menuOptionals.option4}"></td>
                          <td th:text="${menuOptionals.option5}"></td>
                          <td>
                            <a th:href="@{/editMenuOptional(id=${menuOptionals.id})}">Editar</a>
                            |
                            <a th:href="@{/deleteMenuOptional(id=${menuOptionals.id})}">Eliminar</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<footer th:insert="includes/footer :: footer"></footer>