<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="includes/sidebar :: sidebar"></nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Acompañamientos del Menú</h4>
                  <p class="card-description">
                    <a th:href="@{/createMenuAccompaniment}">Crear Nuevo registro</a>
                  </p>

                  <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>Información! </strong>Este modulo es para uso del menu propio del restaurante, podras crear acompañamientos extra que puedan llevar los platos del menu creado previamente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div th:if="${param.success}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Exito! </strong>Tipo de acompañamiento creado correctamente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div th:if="${param.edit}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Exito! </strong>Tipo de acompañamiento editado correctamente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div th:if="${param.delete}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Eliminado! </strong>Tipo de acompañamiento eliminado correctamente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Tipo de Menú</th>
                          <th>Menú</th>
                          <th>Acompañamientos</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="menuAccompaniments, iter : ${menuAccompaniments}">
                          <td th:text="${iter.index + 1}"></td>
                          <td th:text="${menuAccompaniments.menuType}"></td>
                          <td th:text="${menuAccompaniments.menu}"></td>
                          <td th:text="${menuAccompaniments.accompaniment}"></td>
                          <td>
                            <a th:href="@{/editMenuAccompaniment(id=${menuAccompaniments.id})}">Editar</a>
                            |
                            <a th:href="@{/deleteMenuAccompaniment(id=${menuAccompaniments.id})}" class="text-danger">Eliminar</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<footer th:insert="includes/footer :: footer"></footer>