<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="includes/sidebar :: sidebar"></nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Medios de pago</h4>
                  <p class="card-description">
                    <a href="#">Crear Nuevo registro</a>
                  </p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>Metodo de pago</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="paymentMethodList, iter: ${paymentMethodList}">
                        <td th:text="${iter.index + 1}"></td>
                        <td th:text="${paymentMethodList.method}"></td>
                        <td th:text="${paymentMethodList.description}" ></td>
                        <td>
                          <a href="#">Editar</a>
                          |
                          <a href="#">Eliminar</a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Descuentos %</h4>
                  <p class="card-description">
                    <a href="#">Crear Nuevo registro</a>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <th>#</th>
                        <th>Porcentaje</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="discountList, iter: ${discountList}">
                        <td th:text="${iter.index + 1}"></td>
                        <td class="text-danger" th:text="${discountList.type}"></td>
                        <td th:text="${discountList.description}"></td>
                        <td>
                          <a href="#">Editar</a>
                          |
                          <a href="#">Eliminar</a>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <footer th:insert="includes/footer :: footer"></footer>