<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<header th:insert="includes/header :: header"> </header>
<header th:insert="includes/navbar :: navbar"> </header>

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar" th:insert="includes/sidebar :: sidebar"></nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Gestion de Mesas</h4>
                  <p class="card-description">
                    <a href="#">Crear Nuevo registro</a>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Mesas</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="restaurantTableList, iter : ${restaurantTableList}">
                          <td th:text="${iter.index + 1}"></td>
                          <td th:if="${restaurantTableList.tableNumber} != 100" th:text="'Mesa ' + ${restaurantTableList.tableNumber}"></td>
                          <td th:if="${restaurantTableList.tableNumber} == 100">DOMICILIOS</td>
                          <td>
                            <a href="#">Editar</a>
                            |
                            <a href="#">Eliminar</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<footer th:insert="includes/footer :: footer"></footer>