<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="icon" th:href="@{/images/icons/favicon.ico}"/>
	<link rel="stylesheet" th:href="@{/css/util.css}" >
	<link rel="stylesheet" th:href="@{/css/style.css}" >
	<link rel="stylesheet" th:href="@{/css/main.css}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form th:action="@{/login}" method="post" class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						<img th:src="@{/images/logo.png}" class='img-round' id="icon" alt="User Icon" />
					</span>

					<div class="container" th:if="${param.error}">
						<div class="alert alert-danger">
							Usuario o contraseña incorrectos intenta con usuario@correo.com
							<br>
							<a th:href="@{/register}" type="button">Haz click aqui si no tienes cuenta</a>
						</div>
					</div>
					<div class="container" th:if="${param.logout}">
						<div class="alert alert-danger">
							Te has desconectado
						</div>
					</div>
					
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="username" required>
						<span class="focus-input100"></span>
						<span class="label-input100">Email or Username</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" >
						<input class="input100" type="password" name="password" required>
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Recuerdame
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Perdi mi contraseña?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<input class="login100-form-btn" type="submit" value="Iniciar Sesion">
					</div>
				</form>

				<div class="login100-more" style="background-image: url('images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>

</body>
</html>