<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Tirilla de Venta</title>
    <link rel="stylesheet" th:href="@{/css/invoice.css}">
   <!--<script language="Javascript">
        printScreen();

        function printScreen() {
            if (window.print)
            window.print()
            else
            alert("Para imprimir presione Crtl+P.");
        }
    </script>-->
</head>
<body>
<table class="body-wrap">
    <tbody>
        <tr>
        <td>
        </td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td class="content-wrap aligncenter">
                            <table width="100%" cellpadding="0" cellspacing="0" id="print">
                                <tbody>
                                <tr>
                                    <td class="content-block">
                                        <h2>Restaurante</h2>
                                        <img style="max-width: 30%; border-radius: 60px;" th:src="@{/images/invoice.jpeg}" class='imgRedonda' id="icon" alt="User Icon" />
                                        <h3 style="margin-top: 5px;">Domicilios: XXX XXXX XXXX</h3>
                                        <h4>@restaurante</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        <table class="invoice">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    Facturado a: <span th:text="'Mesa ' + ${table}"></span>
                                                    <br>Número de pedido: <span th:text="${table} + ${#dates.format(#dates.createNow(), 'dd')}"></span>
                                                    <br>Fecha: <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <br>
                                                    <table class="invoice-items" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <th style="text-align:left">Cant.</th>
                                                            <th style="text-align:center">Descripción</th>
                                                            <th style="text-align:right">Valor</th>
                                                        </tr>
                                                        <tbody>
                                                        <tr th:each="serviceOrdersByTable: ${serviceOrdersByTable}">
                                                            <td th:text="${serviceOrdersByTable.cant}"></td>
                                                            <td th:text="${serviceOrdersByTable.name}"></td>
                                                            <td class="alignright" th:text="'$' + ${serviceOrdersByTable.cant} * ${serviceOrdersByTable.price}"></td>
                                                        </tr>
                                                        <tr class="total">
                                                            <td></td>
                                                            <td class="alignright" width="80%">Total:</td>
                                                            <td class="alignright" th:text="'$' +  ${#numbers.formatDecimal(totalOrder, 0, 'COMMA', 0, 'POINT')}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="content-block" style="text-align:center">
                            Bogotá D.C - Colombia
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="footer">
                    <table width="100%">
                        <tbody>
                        <tr>
                            © 2022 Copyright: Software de Restaurante
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
        <td>
        </td>
    </tr>
    </tbody>
</table>
</body>
<script>
timeCollapse();

function timeCollapse() {
    setInterval('alert()', 10000);
}


function alert(){
    var option = confirm("NO OLVIDE REGISTRAR EL PAGO");
    if (option == true) {
        window.history.back();
	} else {
	    window.history.back();
	}
}
</script>
</html>
