<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!--Admin Dashboard-->
<!-- plugins:js -->
<script th:src="@{../vendors/base/vendor.bundle.base.js}"></script>
<script th:src="@{../vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{../vendors/datatables.net/jquery.dataTables.js}"></script>
<script th:src="@{../vendors/datatables.net-bs4/dataTables.bootstrap4.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/hoverable-collapse.js}"></script>
<script th:src="@{/js/template.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>
<script th:src="@{/js/data-table.js}"></script>
<script th:src="@{/js/jquery.dataTables.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.js}"></script>

<script src="menu.js"></script>

</body>
<!-- Footer -->
<footer class="page-footer font-small blue" th:fragment="footer">
    <!-- Copyright -->
    <hr>
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
        <a href="#" target="_blank"> Software de Restaurante</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</html>